html {
    font-family: 'Arial';
    text-align: center;
}

textarea {
    outline: none;
    resize: none;
    overflow: auto;
    width: 25em;
    height: 10em;
}

.container {
    display: grid;
    height: 15em;
    grid-row-gap: 10px;
    justify-content: center;
}

.stat {
    text-align: center;
}

select {
    text-align: center;
}

p {
    text-align: center;
    width: 20em;
}
